html,
body {
  padding: 0;
  margin: 0;
  background-color: #247;
}

#restart {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
  background-color: green;
  border: none;
  padding: 12px;
  font-size: 16px;
}

canvas {
  background-color: #aaa;
}

#canvas {
  position: absolute;
  background-color: #8ce;
}

#dashboard {
  position: absolute;
  margin: 50px;
}

#dashboard table {
  width: 100%;
}

#dashboard th,
td {
  text-align: left;
}

#speed {
  font-size: 60px;
}

#status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  text-shadow: 2px 2px black;
  color: white;
  text-transform: uppercase;
}

.panel {
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.radar {
  background-color: #247;
}
